.side-panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px;
    background-color:white ;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
    border-left: 1px solid #ccc;
    overflow-y: hidden;
}

.ride-option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid transparent;
    padding: 2px;
    cursor: pointer;
}


.ride-option.selected {
    border-color: blue;
    background-color: #f0f8ff;
}

.ride-image {
    width: 100px;
    height: 50px;
    margin-right: 15px;
}

.ride-details h3 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

.ride-details p {
    margin: 5px 0;
    color: #777;
}

#map-container {
    position: relative;
    height: 600px;
    border: 5px solid black;
}

.navbar {
    padding: 10px;
    border-bottom: 5px solid black;
    background-color: lightgoldenrodyellow !important;
    color: #00008b !important;
}

/* Style for the logo */
.navbar-brand img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* Style for the navbar links */
.navbar-nav .nav-link {
    font-weight: bold;
}

#weatherTime {
    font-family: Arial, sans-serif;
    text-align: left;
}

.wrapper {
    height: 4rem;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0;
    z-index: 20;
}
.leftMenu {
    display: flex;
    gap: 0.75rem;
}
.logo {
    font-size: 1.875rem;
    color: white;
    display: flex;
    cursor: pointer;
    margin-right: 4rem;
}
.menuItem {
    font-size: 1.125rem;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer;
}
.rightMenu {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
.userImageContainer {
    margin-right: 0.5rem;
}
.userImage {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    padding: 1px;
    object-fit: cover;
    cursor: pointer;
}
.loginButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 9999px;
    padding: 0.25rem 1rem;
    background-color: #333333;
}
.loginText {
    margin-left: 0.5rem;
}
.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 1em;
    color: #333;
}

.details span {
    font-weight: bold;
}

#total {
    font-size: 1.2em;
    font-weight: bold;
    color: #007bff;
}

#payButton {
    display: block;
    width: 100%;
    padding: 5x;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#payButton:hover {
    background-color: #0056b3;
}